<form action="/figures/<%= @figure.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
      <%= erb :'figures/_form' %>
<br>
<a href="/landmarks/new"> <input type="button" value="Add a new landmark"> </a>
<br>
<a href="/titles/new"> <input type="button" value="Add a new title"> </a><br>
<input type="submit" value="Update <%= @figure.name %>">
<br>
</form>